<div class="ide-text-setting" >
	<form #textSettingForm="ngForm" (ngSubmit)="onSubmit()"   >
		<md-input-container class="block-input" >
			<input [(ngModel)]="formData.text" type="text" required  md-input placeholder="文本内容" name="text" autocomplete="off" />
		</md-input-container>
		<md-select class="block-input" [(ngModel)]="formData.font" placeholder="字体" name="font" >
			<md-option value="arial" >Arial</md-option>
			<md-option value="simsun" >宋体</md-option>
		</md-select>
		<md-input-container >
			<input [(ngModel)]="formData.width" type="number" min="0" step="1"  md-input placeholder="文本框宽度" name="width" autocomplete="off" />
			<span md-suffix >px</span>
		</md-input-container>
		<md-input-container >
			<input [(ngModel)]="formData.height" type="number" min="0" step="1"  md-input placeholder="文本框高度" name="height" autocomplete="off" />
			<span md-suffix >px</span>
		</md-input-container>
		
		<md-input-container >
			<input [(ngModel)]="formData.fontSize" type="number" min="10" step="1"  md-input placeholder="字号" name="fontSize" autocomplete="off" />
			<span md-suffix >px</span>
		</md-input-container>
		<md-input-container >
			<input [(ngModel)]="formData.lineheight" type="number" min="0" step="1"  md-input placeholder="行高" name="lineheight" autocomplete="off" />
			<span md-suffix >px</span>
		</md-input-container>

		<md-input-container >
			<input [(ngModel)]="formData.color" type="text" placeholder="文本色" maxlength="7" md-input name="color" autocomplete="off"  />
			<input [(ngModel)]="formData.color" [ngModelOptions]="{standalone: true}"  type="color" md-suffix />
		</md-input-container>
		<md-input-container >
			<input [(ngModel)]="formData.backgroundColor" type="text" placeholder="背景色" maxlength="7" md-input name="backgroundColor" autocomplete="off"  />
			<input [(ngModel)]="formData.backgroundColor"  type="color" [ngModelOptions]="{standalone: true}" md-suffix />
		</md-input-container>
		<div style="text-align: center" >
			<md-button-toggle-group multiple  >
				<md-button-toggle>
					<md-icon class="md-18" >format_bold</md-icon>
				</md-button-toggle>
				<md-button-toggle>
					<md-icon class="md-18" >format_italic</md-icon>
				</md-button-toggle>
				<md-button-toggle>
					<md-icon class="md-18" >format_underlined</md-icon>
				</md-button-toggle>
			</md-button-toggle-group>
		</div>
	</form>
</div>