<form #addItemForm="ngForm" (ngSubmit)="addNewEmptyItem(addItemForm.value)" >
	<md-dialog-content >
		<div class="form-row" >
			<md-input-container >
				<input md-input placeholder="名称" [(ngModel)]="itemName" name="name" #nameInput required autocomplete="off" />
			</md-input-container>
		</div>
		<div class="form-row" >
			<md-select placeholder="类型" [(ngModel)]="itemType" name="type" required >
				<md-option [value]="0" >影片剪辑</md-option>
			</md-select>
		</div>
	</md-dialog-content>
	<md-dialog-actions >
		<button type="submit" color="accent" md-raised-button >确&nbsp;定</button>&nbsp;
		<button type="button" md-raised-button (click)="dialog.closeAll()">取&nbsp;消</button>
	</md-dialog-actions>
</form>