/* You can add global styles to this file, and also import other style files */
body, html {
	margin: 0;
	padding: 0;
	font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 12px;
	line-height: 18px;
	height: 100%;
	color: #333;
}

ul, li {
	list-style: none;
}

a, a:link, a:visited, a:active, a:hover {
	text-decoration: none;
	outline: none;
	color: #778899;
}

input, select {
	outline: none;
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

/* Rules for sizing the icon. */
md-icon.md-12 { width: 12px; height: 12px; }
md-icon.md-18 { width: 18px; height: 18px; }
md-icon.md-24 { width: 24px; height: 24px; }
md-icon.md-36 { width: 36px; height: 36px; }
md-icon.md-48 { width: 48px; height: 48px; }
md-icon.md-78 { width: 78px; height: 78px; }

.material-icons.md-12 { font-size: 12px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-78 { font-size: 78px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
