<div class="ide-panel" #container >
	<div class="ide-panel-title" #titleContainer (click)="toggle()" *ngIf="hasTitle" >
		<md-icon *ngIf="isOpen" class="md-18" >expand_more</md-icon>
		<md-icon *ngIf="!isOpen" class="md-18" >expand_less</md-icon>
		<span>{{title}}</span>
	</div>
	<div class="ide-panel-content" *ngIf="isOpen" #contentContainer >
		<ng-content select="[block=main]" ></ng-content>
	</div>
	<div class="ide-panel-tools" *ngIf="hasTools&&isOpen" #toolsContainer >
		<ng-content select="[block=tools]" ></ng-content>
	</div>
</div>